%html
  %head
    = javascript_include_tag 'jquery-1.4.2','application'
    = stylesheet_link_tag 'application'
  %body
    #header
      = link_to 'Add Feed', new_feed_path
      = link_to 'My Feeds', posts_path
    = yield